body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0a1128, #001f54, #034078);
    overflow: hidden;
    text-align: center;
    color: white;
}

.container {
    margin-top: 18%;
}

h1 {
    font-size: 3rem;
    color: #9fd3ff;
}

p {
    font-size: 1.3rem;
    color: #dbeeff;
}

button {
    padding: 22px 48px;
    margin: 20px;
    border: none;
    border-radius: 50px;
    font-size: 28px;
    cursor: pointer;
    transition: 0.3s;
}

#yesBtn {
    background: #4da6ff;
    color: white;
}

#yesBtn:hover {
    transform: scale(1.1);
}

#noBtn {
    background: #1c3f60;
    color: white;
    position: absolute;
}

.hidden {
    display: none;
}

#celebration {
    margin-top: 20%;
}
